<div class="card container-fluid" *ngIf="accommodation">
    <div class="card-header w-100 container">
        <div class="row">
            <div class="col-9">
                <h3>{{accommodation.name}}</h3>
                <h5>{{accommodation.address}}</h5>
            </div>
            <div class="col-3">
                <span>Ocena: <em>{{accommodation.averageGrade}}</em></span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <h4>{{accommodation.description}}</h4>
        </div>
        <div class="card-text component">
            <div class="row">
                <div class="col c-3">
                    <!--slike objekta-->
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                    <img />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                   <h5>{{accommodation.category}}</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>{{accommodation.type}}</h5>
                </div>
            </div>
            <div class="row">
                <!--ngFor za sve dodatne usluge koje ima-->
                <div class="col-3">

                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <span>Za odabrani period <b>{{dateStart | date}} - {{dateEnd | date}}</b> cena je <em style='color:#2c3;'>{{price}} rsd</em></span>
                </div>
                <div class="col-3">
                    <button class="btn btn-lg btn-primary" style='float:right;' (click)="createReservation()">Rezervisi</button>
                </div>
            </div>
			<hr>
			<div class="row">
				<div class="col-12">
					<button class="btn btn-secondary w-75">Prikazi komentare</button>
				</div>
			</div>
            <div class="row" style='padding:10px 0px;'>
                <ul class="col-12 list-group">
                    <li class="card list-group-item">
                        <div class="card-header d-flex justify-content-between">
                            <h6>Korisnik</h6>
                            <span><b>Ocena</b></span>
                        </div>
                        <div class="card-body">
                            <p>Korisnikov komentar</p>
                        </div>
                    </li>
                    <li class="card list-group-item">
                        <div class="card-header d-flex justify-content-between">
                            <h6>Korisnik</h6>
                            <span><b>Ocena</b></span>
                        </div>
                        <div class="card-body">
                            <p>Korisnikov komentar</p>
                        </div>
                    </li>
                    <li class="card list-group-item">
                        <div class="card-header d-flex justify-content-between">
                            <h6>Korisnik</h6>
                            <span><b>Ocena</b></span>
                        </div>
                        <div class="card-body">
                            <p>Korisnikov komentar</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>