<div class="container-fluid">
  <ul class="list-group">
    <li class="list-group-item card">
      <div class="card-header">
        Naziv objekta
      </div>
      <div class="card-body">
        <div class="card-title">
          Adresa objekta
        </div>
        <div class="card-text">
          Opis objekta
          <span><i>Cena objekta</i></span>
          <span><b>Ocena objekta</b></span>
        </div>
      </div>
    </li>
    <li class="list-group-item card">
        <div class="card-header">
          Naziv objekta
        </div>
        <div class="card-body">
          <div class="card-title">
            Adresa objekta
          </div>
          <div class="card-text">
            Opis objekta
            <span><i>Cena objekta</i></span>
            <span><b>Ocena objekta</b></span>
          </div>
        </div>
      </li>
    <li class="list-group-item card">
        <div class="card-header">
          Naziv objekta
        </div>
        <div class="card-body">
          <div class="card-title">
            Adresa objekta
          </div>
          <div class="card-text">
            Opis objekta
            <span><i>Cena objekta</i></span>
            <span><b>Ocena objekta</b></span>
          </div>
        </div>
      </li>
    <li class="list-group-item card">
        <div class="card-header">
          Naziv objekta
        </div>
        <div class="card-body">
          <div class="card-title">
            Adresa objekta
          </div>
          <div class="card-text">
            Opis objekta
            <span><i>Cena objekta</i></span>
            <span><b>Ocena objekta</b></span>
          </div>
        </div>
      </li>
  </ul>
</div>
