<div class="container-fluid">
  <div class="list-group">
    <a *ngFor="let accomodation of accomodations" class="list-group-item card">
      <div class="card-header">
        {{accomodation.name}}
      </div>
      <div class="card-body">
        <div class="card-title">
          {{accomodation.address}}, {{accomodation.city}}, {{accomodation.country}}
        </div>
        <div class="card-text">
          {{accomodation.description}} 
          <span><i>{{accomodation.price}}</i></span>
          <span><b>{{accomodation.averageGrade}}</b></span>
        </div>
      </div>
    </a>
  </div>
</div>
