<div class="card sticky-top">
  <div class="card-header">
    <form class="form">
      <div class="location form-group">
        <label for="locField">Lokacija</label>
        <input type="text" id="locField" class="form-control form-control-sm" placeholder="Adresa, Grad, Drzava..." required/>
      </div>
      <div class="arrival form-group">
        <label for="arrField">Datum dolaska</label>
        <input type="date" id="arrField" class="form-control form-control-sm" required/>
      </div>
      <div class="departure form-group">
        <label for="depField">Datum odlaska</label>
        <input type="date" id="depField" class="form-control form-control-sm" required/>
      </div>
      <div class="persons form-group">
        <label for="persNum">Broj osoba</label>
        <input type="number" id="persNum" class="form-control form-control-sm" min="1" required />
      </div>
    </form>
  </div>
  <div class="container-fluid">
    <button class="btn btn-primary w-100 m-1">
      Pretrazi
    </button>
  </div>
  <div class="card-body">
    <h5>Napredna pretraga</h5>
    <br />
    <h6>Kategorija smestaja</h6>
    <ul class="list-group">
      <li class="list-group-item form-check d-flex justify-content-between container-fluid">
        <label for="kat1" class="form-check-label">Kategorija 1</label>
        <input type="checkbox" class="form-check-input" id="kat1"/>
      </li>
      <li class="list-group-item form-check d-flex justify-content-between container-fluid">
        <label for="kat2" class="form-check-label">Kategorija 2</label>
        <input type="checkbox" class="form-check-input" id="kat2"/>
      </li>
    </ul>
    <hr />
    <h6>Tip smestaja</h6>
    <ul class="list-group">
      <li class="list-group-item form-check d-flex justify-content-between container-fluid">
        <label for="tip1" class="form-check-label">Tip 1</label>
        <input type="checkbox" class="form-check-input" id="tip1"/>
      </li>
      <li class="list-group-item form-check d-flex justify-content-between container-fluid">
        <label for="tip2" class="form-check-label">Tip 2</label>
        <input type="checkbox" class="form-check-input" id="tip2"/>
      </li>
    </ul>
    <hr/>
    <h6>Dodatne usluge</h6>
    <ul class="list-group">
      <li class="list-group-item form-check d-flex justify-content-between container-fluid">
        <label for="dod1" class="form-check-label">Dodatna usluga 1</label>
        <input type="checkbox" class="form-check-input" id="dod1"/>
      </li>
      <li class="list-group-item form-check d-flex justify-content-between container-fluid">
        <label for="dod2" class="form-check-label">Dodatna usluga 2</label>
        <input type="checkbox" class="form-check-input" id="dod2"/>
      </li>
    </ul>
  </div>
</div>
