<div>
  <p>name</p>
  <input [(ngModel)]="accomodationDTO.name">

  <p>description</p>
  <input [(ngModel)]="accomodationDTO.description">

  <p>maxPersons</p>
  <input [(ngModel)]="accomodationDTO.maxPersons">

  <p>categoryId</p>
  <input [(ngModel)]="accomodationDTO.categoryId">

  <p>typeId</p>
  <input [(ngModel)]="accomodationDTO.typeId">

  <p>address</p>
  <input [(ngModel)]="accomodationDTO.address">

  <p>city</p>
  <input [(ngModel)]="accomodationDTO.city">

  <p>country</p>
  <input [(ngModel)]="accomodationDTO.country">

  <p>images</p>
  <input type="file" multiple accept="image/*" (change)="handleFileInput($event.target.files)">

  <button (click)="send()">Send</button>
</div>