<div class="container-fluid">
  <br>
  <div class="row" style="display: flex;flex-direction: row">
      <h3 style="margin-left: 2%;">Accomodation Services</h3><a style="margin-left: 1%;color: white;" [routerLink]="'/home/add-service'" class="btn btn-primary">Add service</a>
      <h3 style="margin-left: 2%;">Accomodation Types</h3><a style="margin-left: 1%;color: white;" [routerLink]="'/home/add-type'" class="btn btn-primary">Add type</a>
      <h3 style="margin-left: 2%">Accomodation Categories</h3><a style="margin-left: 1%;color: white;" [routerLink]="'/home/add-category'" class="btn btn-primary">Add category</a>
      <hr>
  </div>

  <hr>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 list-group">
        <div class="container list-group-item" *ngFor="let s of services">
            <div class="panel-heading">
              Service ID: {{s?.serviceID}}
            </div>
            <div class="panel-body">Service name: {{s?.serviceName}}</div>
              <button class="btn btn-danger" (click)="deleteService(s)">Delete</button>
              <br />
        </div>
      </div>
      <div class="col-4 list-group">
        <div class="container list-group-item" *ngFor="let t of types">
            <div class="panel-heading">
              Type ID: {{t?.typeID}}
            </div>
            <div class="panel-body">Type name: {{t?.typeName}}</div>
              <button class="btn btn-danger" (click)="deleteType(t)">Delete</button>
              <br />
        </div>
      </div>
      <div class="col-4 list-group">
          <div class="container list-group-item" *ngFor="let c of categories">
              <div class="panel-heading">
                Category ID: {{c?.categoryID}}
              </div>
              <div class="panel-body">Category name: {{c?.categoryName}}</div>
                <button class="btn btn-danger" (click)="deleteCategory(c)">Delete</button>
                <br />
          </div>
        </div>
    </div>
  </div>
</div>