<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="bg-primary">
        <br />
        <h1>Meni</h1>
        <br />
      </nav>
    </div>
  </div>
	<div class='row' >
		<div class='col-12'>
			<div style='text-align:right; padding:5px 10px;'>
				<button [hidden]="authenticated()"  routerLinkActive="active" routerLink="/login" class='btn'>Uloguj se</button>
				<button [hidden]="authenticated()"  routerLinkActive="active" routerLink="/register" class='btn'>Registruj se</button>
				<button [hidden]="!authenticated()" routerLinkActive="active" routerLink="/messages"   class='btn'>Poruke</button>
				<button [hidden]="!authenticated()" (click)="logout()"  class='btn'>Izloguj se</button>
			</div>
		<div>
	</div>
  <div class="row">
    <div class="col-3">
      <app-filter class="sticky-top" [accomodations]="accomodations"></app-filter>
    </div>
    <div class="col-9">
      <app-accommodation [accomodations]="accomodations"></app-accommodation>
    </div>
  </div>
</div>
