<div class="container-fluid">
  <br>
  <div class="row">
    <div class="col-md-4 offset-md-4" style="margin-left: 40%;">
      <h2>Reviews</h2>
    </div>
    <hr>
  </div>
  <hr>
  <br>
  <div class="row" style="margin-left:20%;width: 40%;">
    <div class="row" style="margin-top: 20px; width: 100%;" >
      <div class="col-md-12" style="margin-left: 20%;" *ngFor="let r of reviews">
        <div class="list-group-item" style="width: 100%;">
          <div class="thumbnail" style="width: 100%;">
            <div class="row" style="width: 100%;">
              <div class="col-sm-12">
                <div class="panel panel-default" style="width: 100%;">
                  <div >
                    <div class="panel-heading">
                      Review comment: {{r?.comment}}
                    </div>
                    <div class="panel-body">Review user: {{r?.user}}</div>
                    <div class="panel-footer">Review accomodation: {{r?.accomodation}}</div>
                    <div class="panel-footer">Review grade: {{r?.grade}}</div>
                  </div>
                  <div class="col-md-6" style="margin-top: 5%; margin-left: -3%;">
                    <button class="btn btn-success" (click)="publish(r)">Publish</button>
                    <button class="btn btn-danger" (click)="decline(r)">Decline</button>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
